[submodule "lib/libcsp"]
	path = lib/libcsp
	url = https://github.com/spaceinventor/libcsp
[submodule "lib/libparam"]
	path = lib/libparam
	url = https://github.com/spaceinventor/libparam
[submodule "lib/tracerecorder"]
	path = lib/tracerecorder
	url = https://github.com/percepio/TraceRecorderSource
[submodule "lib/cants"]
	path = lib/cants
	url = https://github.com/CubeComEtse/cants
